.footer{
    background-color: #172437;
    
    padding-bottom:80px;
    border-top:1px solid #878787;
}

.footer p{
    font-size: 12px;
    color:#878787;
}

.nav-link{
    padding: 0px;
    font-size: 12px;
    color:#fff;
    line-height: 200%;
}

.nav-link:hover{
    text-decoration: underline;
}

.address{
    padding: 0px;
    margin: 0px;
    line-height: 130%;
    color:#fff !important;
}

.bleft{
    border-left:1px solid #878787;
}

